<form action="{{ routes.search_url }}" method="get" role="search" class="search">
  <div class="field">
    <input
      class="search__input field__input"
      id="Search-In-Template"
      type="search"
      name="q"
      value="{{ search.terms | escape }}"
      placeholder="{{ 'general.search.search' | t }}"
      {%- if settings.predictive_search_enabled -%}
        role="combobox"
        aria-expanded="false"
        aria-owns="predictive-search-results"
        aria-controls="predictive-search-results"
        aria-haspopup="listbox"
        aria-autocomplete="list"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
      {%- endif -%}
    >
    <label class="field__label" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
    <input name="options[prefix]" type="hidden" value="last">

    <button
      type="reset"
      class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
      aria-label="{{ 'general.search.reset' | t }}"
    >
      <svg class="icon icon-close" aria-hidden="true" focusable="false">
        <use xlink:href="#icon-reset">
      </svg>
    </button>
    <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
      <svg class="icon icon-search" aria-hidden="true" focusable="false">
        <use xlink:href="#icon-search">
      </svg>
    </button>
  </div>
</form>
