{% comment %}
  DECISION: How to make Sale red. Did this by identifying _red_ in the nav menu and doing a 'contains' check. This allows the store owner to have contrl of what is red.
  DECISION: Create a new color schema. The blacks and blues are a little bit different that Dawn has out of hte box so I created a new schema for this.
{% endcomment %}

{{ 'moriarty-header.css' | asset_url | stylesheet_tag }}

<div
  class="header-wrapper color-{{ section.settings.color_scheme }}"
  style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px"
>
  <header class="header">
    <div class="header__desktop-hidden">
      {% render 'moriarty-icon-hamburger' %}
    </div>
    <div class="header__content-left">
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          <div class="header__heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag:
                class: 'header__heading-logo',
                widths: widths,
                height: logo_height,
                width: section.settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
            }}
          </div>
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      {% for link in section.settings.menu.links %}
        {% liquid
          assign title = link.title
          if link.title contains '_red_'
            assign color_style = 'color: red; '
            assign title = link.title | replace: '_red_', ''
          endif
        %}
        <a class="menu-link header__mobile-hidden" href="{{ link.url }}" style="{{ color_style }}">{{ title }}</a>
      {% endfor %}
    </div>

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      {% render 'moriarty-search-form', class: 'header__mobile-hidden' %}

      {%- if shop.customer_accounts_enabled -%}
        <div class="header__account header__mobile-hidden">
          <p>My Account</p>
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="header__account--link"
          >
            Sign in or Sign up
          </a>
        </div>
      {%- endif -%}
      <divider class="header__mobile-hidden"></divider>
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</div>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 48,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Logo Width",
      "default": 100
    },

    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}
