{{ 'moriarty-page-hero.css' | asset_url | stylesheet_tag }}

{% comment %}
  QUESTION FOR DESIGNER: Should we include a color overlay option to help increase text/image contrast.
{% endcomment %}

{% comment %} OPACITY {% endcomment %}
{%- style -%}
  #Hero-media-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

{% comment %} Set Image Widths and settings. {% endcomment %}
{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}
{% comment %} PARENT {% endcomment %}
<div
  id="Hero-{{ section.id }}"
  class="page-hero hero__content-{{ section.settings.desktop_content_alignment }} color-{{ section.settings.color_scheme }}"
  style="padding-top: {{ section.settings.section_padding_top }}px; padding-bottom: {{ section.settings.section_padding_bottom }}px;"
>
  {% comment %} IMAGE {% endcomment %}
  {%- if section.settings.image != blank -%}
    <div
      id="#Hero-media-{{ section.id }}"
      class="hero__media media{% if section.settings.image == blank %} placeholder{% endif %}"
    >
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        assign sizes = full_width
        assign image_class = 'hero__image'
      -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- endif -%}
  {% comment %} CONTENT {% endcomment %}
  <div class="hero__content-wrapper hero__content--{{ section.settings.desktop_content_position }}">
    <div class="content">
      {% comment %} TEXT {% endcomment %}
      <div class="text-content">
        <p class="surtitle">{{ section.settings.surtitle }}</p>
        <h2 class="headline">{{ section.settings.title }}</h2>
        <p>{{ section.settings.subtitle }}</p>
      </div>
      <div
        class="hero__buttons"
      >
        {% comment %} BUTTONS {% endcomment %}
        {%- for block in section.blocks -%}
          <a
            {{ block.shopify_attributes }}

            {% if block.settings.btn_link == blank %}
              role="link" aria-disabled="true"
            {% else %}
              href="{{ block.settings.btn_link }}"
            {% endif %}
            class="button{% if block.settings.btn_style == "secondary" %} button--secondary{% else %} button--primary{% endif %}"
          >
            {{- block.settings.title | escape -}}
          </a>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page Hero",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Headline"
    },
    {
      "type": "text",
      "id": "surtitle",
      "label": "Surtitle",
      "info": "Appears above headline"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "info": "Appears below headline"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image Overlay Opacity",
      "default": 0
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "top-right",
          "label": "Top Right"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        },
        {
          "value": "middle-right",
          "label": "Middle Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        }
      ],
      "default": "middle-left",
      "label": "Content Position"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section top paddng",
      "default": 0,
      "min": 0,
      "max": 65,
      "step": 5
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section bottom paddng",
      "default": 0,
      "min": 0,
      "max": 65,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Button",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "Button Style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page Hero"
    }
  ]
}
{% endschema %}
