{% comment %}
  My Process:
      1. Create seciton liquid and corresponding css file.
      2. Create empty parent div
      3. create schema.
      4. Add section padding styles to parent div and primary section class.
{% endcomment %}

{% comment %}
  Tricky Business:
      This section seems like its a featuerd collection section but the fact that one card has multiple links makes it a bit tricky.
      The links will need to point to the New Arrivals collection but then should filter that collection by men/women/etc.
      The easies way is to just have the store owner copy and paste the link from the collecton with appropriate filter they want but that's
      not the user experience for the store owner I would like. I'd prefer to make it dyamic somehow.
{% endcomment %}

{% comment %}
  Question for designer: Do we want to limit the number of items a store admin can add to this seciton to two? If not, how many and how do we want to manage more than 2 on desktop?
  For now, I'm limiting it to two.
{% endcomment %}

{% comment %} STYLESHEET {% endcomment %}
{{ 'moriarty-featured-content.css' | asset_url | stylesheet_tag }}

{% comment %} IMAGE SPECS {% endcomment %}
{%- liquid
  assign widths = '100, 300, 500, 800, 1200'

  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

{% comment %} SECTION {% endcomment %}

<div
  class="featured-content color-{{ section.settings.color_scheme }}"
  style="padding-top: {{ section.settings.section_padding_top }}; padding-bottom: {{ section.settings.section_padding_bottom }}"
>
  <div class="featured-content__cards">
    {% for block in section.blocks %}
      <div class="card">
        <div class="card__image">
          {% if block.settings.image != blank %}
            {{
              block.settings.image
              | image_url: width: 1800
              | image_tag: width: section.settings.image.width, widths: widths, fetchpriority: fetch_priority
            }}
          {% else %}
            {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        <div class="featured_collection__text">
          <h3>{{ block.settings.collection.title }}</h3>
          <p>{{ block.settings.subtitle }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Featured Content Cards",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section top padding",
      "default": 0,
      "min": 0,
      "max": 65,
      "step": 5
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section bottom padding",
      "default": 0,
      "min": 0,
      "max": 65,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "image_card",
      "name": "Image Card",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Headline"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "URL"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "URL"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "URL"
        },
        {
          "type": "url",
          "id": "link_4",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Content Cards",
      "category": "Content"
    }
  ]
}
{% endschema %}
